@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>What is Playground?</h3>
<p>Playground is an Azure Web Site and Web Job, where I can play around with the Azure stack a bit more, with a mixture of smaller projects that can be used on the site.</p>

<h3>How can I contribute to Playground?</h3>
<p>Fork and create a Pull Request at <a target="_blank" href="https://github.com/ChrisWoody/Playground">https://github.com/ChrisWoody/Playground</a>.</p>