@{
    ViewData["Title"] = "Home Page";
}

<h1>Home Page!</h1>
<br/>
<a asp-area="" asp-controller="Functions" asp-action="TextToUpperCase" class="btn btn-primary" role="button">Text to Upper Case</a>